Proxy code adds Content-Length:0 header, sometimes in violation of spec

This is related to Support ticket 62648. I believe that the IDE is adding a `Content-Length: 0` header even in cases when that is a violation of spec, and this causes problems when used with a proxy that is strict about the spec.

Here's a screenshot of the network traffic when running a Shiny app in the IDEon rstudio.cloud. Note that the 101 response for the websocket connection includes a `Content-Length: 0` header.

![image](https://user-images.githubusercontent.com/86978/127924331-f1fe36b0-343e-48e0-86b5-196ee054cb22.png)

In the case of a 101 Switching Protocols response, the `Content-Length` header should not be included, according to the [spec](https://httpwg.org/specs/rfc7230.html#header.content-length):

> A server MUST NOT send a Content-Length header field in any response with a status code of 1xx (Informational) or 204 (No Content). A server MUST NOT send a Content-Length header field in any 2xx (Successful) response to a CONNECT request (Section 4.3.6 of [RFC7231]).

I believe that this code may be the culprit. It will add the `Content-Length` header regardless of the response code:
https://github.com/rstudio/rstudio/blob/e01bcc523665eecd45959aec86dc954aa7145b60/src/cpp/core/include/core/http/AsyncConnectionImpl.hpp#L225-L229


On Azure, it causes problems if a 101 response includes a `Content-Length` header. We encountered the same issue with httpuv:
https://github.com/rstudio/httpuv/issues/303

We fixed it by special-casing 101 responses:
https://github.com/rstudio/httpuv/blob/0ce91754c8f8152c20991d53ce96189d7bfd6ecf/src/httpresponse.cpp#L112-L115

I think the fix for the IDE is to add the `Content-Length` header only if the response code is not 1xx or 204.

cc: @sctyner, @latoyalittlejohn

@sctyner I can try supplying you with a build of RStudio Pro, with a potential fix for the issue. What distribution of Linux are you running on?

Thank you @wch. We are running on Ubuntu version 18.04.2 LTS (Bionic Beaver).


@sctyner I emailed you a link to a build with a possible fix for the `Content-Length` issue. Please test it out, and keep an eye on whether it still adds the `Content-Length` header to the HTTP response.

This is now fixed for Prairie Trillium.

### Verified Fixed

    RStudio Edition : Workbench
    RStudio Version : 2022.01.0 Build 267.pro1
    OS Version      : Ubuntu20
    R Version       : 4.1.1

### Summary
Verified that `Content-Length: 0` is no longer being set in a 101 response header (comparison tested with `2021.09.1-372.pro1` where the `Content-Length: 0` was being set).

### Automation
- No E2E or Unit Tests have been added.

### To Reproduce

1. Bring up a Proxy enabled server environment (fuzzbucket: `./deployIDE.sh -c Proxy -i t3.medium -r 4.1.1 -t 604800 -v 2022.01.0-daily-267.pro1`).
2. Create a shiny web app and set Run App options to `Run External` and In `R Console` and run the app.
3. With the Shiny App open in a browser tab, bring up DevTools (F12) and select the Network tab.
4. Refresh the browser tab containing the App and in DevTools select the `/websocket`.
5. Confirm `Content-Length: 0` is not being set in the Response Headers.